@model Haui.Applications.Dtos.UserDto
@{
    ViewData["Title"] = "Delete";
}

<form method="post" action="">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" required asp-for="FullName" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" required asp-for="Email" class="form-control">
    </div>
    <div lass="form-group">
        <label for="">Date of birth:</label>
        <input type="datetime" required asp-for="DateOfBirth" class="form-control">
    </div>
    <button type="submit" class="btn btn-danger">Delete User</button>
</form>


